<div>
    <gt-header-section
    [profilePic]="'https://images.unsplash.com/photo-1715622053361-4baf5ad2c51a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
    [heading]="'Gaurav Tyagi'"
    [subHeading]="'JS and Front end Developer'"
    ></gt-header-section>
</div>
<div>
    <gt-major-section [cardData]="cardData" [sectionTitle]="'Work Experience'"></gt-major-section>
</div>
<div>
    <gt-major-section [cardData]="cardData" [sectionTitle]="'Projects'"></gt-major-section>
</div>
<div>
    <gt-major-section [cardData]="cardData" [sectionTitle]="'Education'"></gt-major-section>
</div>