@import './../../../assets/styles/root';

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content-div {
    padding: .5em 12em 3em 12em;
}

@include for_breakpoint(xs-mobile small-mobile) {
    .content-div {
        padding: .5em .5em 3em .5em;
    }
}

@include for_breakpoint(mobile tablet desktop) {
    .content-div {
        padding: .5em 2em 2em 2em;
    }
}

@include for_breakpoint(big-screen) {
    .content-div {
        padding: .5em 6em 2em 6em;
    }
}