@import './../../../../assets/styles/root.scss';

.container {
    width: 100%;
    background-color: $bittersweet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    .details,
    .thank-notes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label {
            text-align: center;
        }
    }
    .details{
        font-size: $size-s;
    }
    .thank-notes {
        font-size: $size-xs;
    }
}