<div class="container">
    <div class="details">
        <label>
            Created and maintained by Gaurav Tyagi
        </label>
    </div>
    <div class="thank-notes">
        <label>
            Cover photo by <a
                href="https://unsplash.com/@alesnesetril?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ales
                Nesetril</a> on <a
                href="https://unsplash.com/photos/gray-and-black-laptop-computer-on-surface-Im7lZjxeLhg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </label>
    </div>
</div>