<div class="container">
    <gt-cards class="interactable" [attr.data-color]="'#80BEAF'" [attr.data-name]="'About'" [name]="'About'"></gt-cards>
    <gt-cards class="interactable" [attr.data-color]="'#E48150'" [attr.data-name]="'Experience'" [name]="'Experience'"></gt-cards>
    <gt-cards class="interactable" [attr.data-color]="'#609595'" [attr.data-name]="'Stack'" [name]="'Stack'"></gt-cards>
    <gt-cards class="interactable" [attr.data-color]="'#FEB4A1'" [attr.data-name]="'Contact'" [name]="'Contact'"></gt-cards>
</div>
<div class="container">

</div>
<gtCursor />