<div class="container">
    <gt-big-card [href]="'about'" class="interactable" [attr.data-color]="'#80BEAF'" [attr.data-name]="'About'" [name]="'About'" [backgroundImage]="'https://images.unsplash.com/photo-1535957998253-26ae1ef29506?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"></gt-big-card>
    <gt-big-card class="interactable" [attr.data-color]="'#E48150'" [attr.data-name]="'Experience'" [name]="'Experience'" [backgroundImage]="'https://images.unsplash.com/photo-1498050108023-c5249f4df085?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8dGVjaCUyMHN0YWNrfGVufDB8fDB8fHww'"></gt-big-card>
    <gt-big-card class="interactable" [attr.data-color]="'#609595'" [attr.data-name]="'Stack'" [name]="'Stack'" [backgroundImage]="'https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"></gt-big-card>
    <gt-big-card class="interactable" [attr.data-color]="'#FEB4A1'" [attr.data-name]="'Contact'" [name]="'Contact'" [backgroundImage]="'https://images.unsplash.com/photo-1689004624325-6edf074228dd?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"></gt-big-card>
</div>
<div #about class="container">

</div>
<gtCursor />