@import "./../../../../assets/styles/_root.scss";

.container {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 2.5em;
    box-sizing: border-box;
    background-color: $invisible-color;
    overflow: hidden;

    .color-container {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        background-color: $bittersweet;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        background-blend-mode: multiply;
        transition: 0.3s;
        overflow: hidden;

        &:hover {
            background-color: $bittersweet-9;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 25px, rgba(0, 0, 0, 0.15) 0px 5px 10px;
        }

        .holder {
            height: 100%;
            display: flex;
            align-items: center;
            background-color: $invisible-color;
            overflow: hidden;
        }

        .left-container,
        .right-container {
            min-height: inherit;
            padding: 1em;
            box-sizing: border-box;
        }

        .left-container {
            background-color: $invisible-color;
            width: 30%;
        }

        .right-container {
            background-color: $magnolia;
            width: 70%;
        }
    }

    @include for_breakpoint(xs-mobile small-mobile mobile tablet) {
        padding: 2em .5em;
        .color-container {
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.15) 0 0 0;
            .left-container,
            .right-container {
                width: 100%;
            }

        }
    }
}
