<div class=" conatiner-abs container">
    <ng-container>
        <div class="terminal" *ngIf="showDialogBox">
            <nav class="terminal-nav">
                <div class="nav-title">
                    <label for="">
                        Welcome
                    </label>
                </div>
                <div class="nav-close">
                    <button (click)="close()">X</button>
                </div>
            </nav>
            <section id="scroller" *ngIf="typeThis$ | async as typeThis">
                <div #inner [innerHTML]="typeThis">

                </div>
            </section>
        </div>
    </ng-container>
</div>

<gt-float-button *ngIf="messaegIndex === messageArray.length - 1">
    <a download="Gaurav_Tyagi_UI" target="_blank" href="../../../../assets/downloads/resume.pdf">
        <img src="/assets/images/rabbit.gif" alt="My cool gif">
    </a>
</gt-float-button>