<div class="container">
    <gt-post-card>
        <div left-side>
            <p>
                Hey There! <b>My name Gaurav</b>. I am a Front End developer. <br />
                I am from India and have been making awesome web pages from last 10 years. I am really passionate about
                JS and frontend development thought I have also worked as full stack developer. <br />
                Most of what I did is in Angular but I have worked with NextJs and ReactJs as well. <br />
                So if you like what you see, please reach out. I will be happy to connect.
            </p>
        </div>
        <div right-side>
            <h3>
                Knows:
            </h3>
            <div class="tags-section">
                <gt-tags [name]="'Angular'"></gt-tags>
                <gt-tags [name]="'Spartacus'"></gt-tags>
                <gt-tags [name]="'NextJs'"></gt-tags>
                <gt-tags [name]="'ReactJs'"></gt-tags>
                <gt-tags [name]="'JavaScript'"></gt-tags>
                <gt-tags [name]="'HTML5'"></gt-tags>
                <gt-tags [name]="'CSS3'"></gt-tags>
                <gt-tags [name]="'Bootstrap'"></gt-tags>
                <gt-tags [name]="'Tailwind'"></gt-tags>
                <gt-tags [name]="'NodeJs'"></gt-tags>
                <gt-tags [name]="'Java'"></gt-tags>
            </div>
        </div>
    </gt-post-card>
</div>