.z-index-1 {
    z-index: 2;
}

.slideLeft {
    animation: slideinleft 1s ease-in-out;
    animation-fill-mode: both;
    opacity: 0;
}

.slideRight {
    animation: slideinright 1s ease-in-out;
}

@keyframes slideinleft {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


@keyframes slideinright {
    from {
        transform: translateX(20%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.move {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background-color: white;
    opacity: .75;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: .3rem;
        color: #0000b1;
    }
}