$primary-color: #ff9933;
$primary-color-100: #ff8a14;
$primary-color-200: #f57a00;
$primary-color-300: #d66b00;
$primary-color-400: #b85c00;
$primary-color-500: #9c4c00;
$primary-color-600: #7a3d00;
$primary-color-700: #5c2e00;
$primary-color-800: #3d1f00;
$primary-color-900: #1f0f00;
$white-color: #fff;
$black-color: #000;

* {
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}

html,
body {
    color: $white-color;
    background: $black-color;
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;
}