<div class="container">
    <div class="address">
        <gt-data-pin [icon]="faLocationPin" [link]="'https://www.google.com/maps/place/Noida,+Uttar+Pradesh'" [name]="'Noida, India'"></gt-data-pin>
    </div>
    <div class="mail-to">
        <gt-data-pin [icon]="faEnvelope" [link]="'mailto:gtyagig786@gmail.com'" [name]="'gtyagig786@gmail.com'"></gt-data-pin>
    </div>
    <div class="x-id">
        <gt-data-pin [icon]="faSquareXTwitter" [link]="'https://x.com/jaa_O_mama?t=H5fhustq6U024yyhAvP4wQ&s=09'" [name]="'x.com'"></gt-data-pin>
    </div>
    <div class="linkedIn">
        <gt-data-pin [icon]="faLinkedinIn" [link]="'https://www.linkedin.com/in/gauravstyagi/'" [name]="'LinkedIn'"></gt-data-pin>
    </div>
    <div class="git">
        <gt-data-pin [icon]="faGithub" [link]="'https://github.com/guygauravtyagi'" [name]="'GitHub'"></gt-data-pin>
    </div>
</div>
